<FlexboxLayout class="m-t-24 p-5">
    <GridLayout rows="180,auto" class="c-bg-white p-30">
        <StackLayout row="0" class="c-bg-white">
            <Image src="~/app/images/logo.png" class="m-20"></Image>
        </StackLayout>
        <StackLayout row="1" class="form c-bg-white"  [class.dark]="!isLoggingIn">

            <TextField hint="Email Address" keyboardType="email" autocorrect="false"
                       autocapitalizationType="none" [(ngModel)]="user.email" class="input input-border"></TextField>
            <TextField hint="Password" secure="true" [(ngModel)]="user.password"
                       class="input input-border"></TextField>

            <Button [text]="isLoggingIn ? 'Sign in' : 'Sign up'" class="btn btn-primary"
                    (tap)="submit()"></Button>
            <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>

        </StackLayout>
    </GridLayout>
</FlexboxLayout>
