<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Employees"></Label>
</ActionBar>

<ListView [items]="employees" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-employee="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout orientation="horizontal" class="list-group-item">
            <Label [(ngModel)]="employee.name"></Label>
        </StackLayout>
    </ng-template>
</ListView>
